# BE settings
SSI_SERVER_URL=http://localhost:3000
DATABASE_URL=postgres://postgres:random12345@db/ssi-service

# DB settings
POSTGRES_PASSWORD=random12345
POSTGRES_DB=ssi-service

# FE settings (dev)
BASE_URL=http://localhost:8080

# IRMA settings (dev)
IRMASERVER_URL=http://localhost:8088
IRMASERVER_VERBOSE=1
IRMASERVER_PRODUCTION=false
IRMASERVER_NO_AUTH=false

# ACAPY settings
ACAPY_ADMIN_URL=http://acapy:9001/
ACAPY_INDY_DID=Pm8J9C3BLVSbqBQpVYoJho

ACAPY_ENDPOINT=http://4667380e6c86.eu.ngrok.io
ACAPY_GENESIS_URL=https://indy-ledger.ssi-lab.nl/genesis
ACAPY_WALLET_SEED=Jzhyo6OrUlY2WNzxjFTpPD7lA0CwLTqz
ACAPY_WALLET_KEY=57jLTsXvPWjhhKgQsrm6Y
ACAPY_WALLET_NAME=default
ACAPY_WALLET_TYPE=indy
ACAPY_INBOUND_TRANSPORT="http 0.0.0.0 9000"
ACAPY_OUTBOUND_TRANSPORT=http
ACAPY_ADMIN="[0.0.0.0, 9001]"

ACAPY_ADMIN_INSECURE_MODE=true
ACAPY_WEBHOOK_URL=http://backend:3000/api/webhooks/indy

ACAPY_DEBUG_CONNECTIONS=true
ACAPY_DEBUG_CREDENTIALS=true

ACAPY_AUTO_ACCEPT_INVITES=true
ACAPY_AUTO_ACCEPT_REQUESTS=true
ACAPY_AUTO_RESPOND_MESSAGES=true
ACAPY_AUTO_RESPOND_CREDENTIAL_PROPOSAL=true
ACAPY_AUTO_RESPOND_CREDENTIAL_OFFER=true
ACAPY_AUTO_RESPOND_CREDENTIAL_REQUEST=true
ACAPY_AUTO_RESPOND_PRESENTATION_PROPOSAL=true
ACAPY_AUTO_RESPOND_PRESENTATION_REQUEST=true
ACAPY_AUTO_STORE_CREDENTIAL=true
ACAPY_AUTO_VERIFY_PRESENTATION=true

# TRINSIC settings
TRINSIC_ADMIN_URL=https://api.trinsic.id
TRINSIC_API_KEY=

# DATAKEEPER settings
DATAKEEPER_API_URL=https://ssi-api.sb1.demo.devinnohub.nl
DATAKEEPER_API_KEY=""
DATAKEEPER_ISSUER_DID=