version: "3.3"

services:
  db:
    image: postgres:12
    environment:
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build: backend
    ports:
      - "3000:3000"
    environment:
      - SSI_SERVER_URL
      - IRMASERVER_URL
      - DATABASE_URL
    volumes:
      - ./backend:/app:cached

  frontend:
    build: frontend
    ports:
      - "8080:8080"
    environment:
      - SSI_SERVER_URL
    volumes:
      - ./frontend:/app:cached

  irma:
    build: irma
    ports:
      - "8088:8088"
    environment:
      - IRMASERVER_URL
      - IRMASERVER_VERBOSE
      - IRMASERVER_PRODUCTION
    volumes:
      - irma-schemes:/root/.local/share/irma/irma_configuration

  acapy:
    build: acapy
    # FIXME: Can't figure out how to pass IT setttings using ENV vars
    command: start --inbound-transport $ACAPY_INBOUND_TRANSPORT
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - ACAPY_ENDPOINT
      - ACAPY_GENESIS_URL
      - ACAPY_WALLET_SEED
      - ACAPY_WALLET_KEY
      - ACAPY_WALLET_NAME
      - ACAPY_WALLET_TYPE
      # FIXME: Passed using command above
      # - ACAPY_INBOUND_TRANSPORT
      - ACAPY_OUTBOUND_TRANSPORT
      - ACAPY_ADMIN
      - ACAPY_ADMIN_INSECURE_MODE
      - ACAPY_WEBHOOK_URL
      - ACAPY_DEBUG_CONNECTIONS
      - ACAPY_DEBUG_CREDENTIALS
      - ACAPY_AUTO_ACCEPT_INVITES
      - ACAPY_AUTO_ACCEPT_REQUESTS
      - ACAPY_AUTO_RESPOND_MESSAGES
      - ACAPY_AUTO_RESPOND_CREDENTIAL_PROPOSAL
      - ACAPY_AUTO_RESPOND_CREDENTIAL_OFFER
      - ACAPY_AUTO_RESPOND_CREDENTIAL_REQUEST
      - ACAPY_AUTO_RESPOND_PRESENTATION_PROPOSAL
      - ACAPY_AUTO_RESPOND_PRESENTATION_REQUEST
      - ACAPY_AUTO_STORE_CREDENTIAL
      - ACAPY_AUTO_VERIFY_PRESENTATION
    volumes:
      # - ./indy-logs:/home/indy/logs
      - ./indy-client:/home/indy/.indy_client



volumes:
  irma-schemes:
  db-data:
